[build]
builder = "nixpacks"
buildCommand = "npm run build && cp -r public .next/standalone/ && cp -r .next/static .next/standalone/.next/"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["nodejs_20"]

[deploy]
startCommand = "HOSTNAME=0.0.0.0 node .next/standalone/server.js"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
